*{box-sizing: border-box;}
body {
    overflow-x: hidden;
    box-sizing: border-box;  
    width: 100%;
margin: 0;
padding: 0;
}
main {
    max-width: 100%;
}
header {
    margin: 32px 12px; 
}
header .logo {
    text-transform: uppercase;
    font-size: 26px;
    color: #284B63;
}
header #gray {
    color: rgb(60, 110, 113, 0.5);
}
.nav_section {
    float: right;
}
.for_mobile {
    display: none;
}
.nav_section ul li {
    display: inline;
    padding: 5px;
    font-size: 20px;
}
.nav_section a {
    text-decoration: none;
    color: #284B63;
}
.banner_section {
    max-width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 24px;
    background-color: #353535;
}
.banner_section #banner {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 24px;
    width: 100%;
}
.right_section {    
    align-self: center;
    margin-left: 24px;
    width: 80%;

}
.right_section #bunner_button {
    background-color: #3C6E71;
    color: #D9D9D9;
    padding: 12px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    width: 100%;
}
.right_section h2 {
    font-size: 42px;
    color: #D9D9D9;
}
.right_section p {
    font-size: 22px;
    color: #D9D9D9;
}
.articles_section {
    max-width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 24px;
    background-color: #D9D9D9;
}
.featured_article img {
    margin-top: 32px;
    margin-left: 24px;
    width: 100%;
}
.featured_article h2 {
    font-size: 40px;
    margin-left: 24px;
    color: #353535;
}
.featured_article p {
    font-size: 18px;
    margin-left: 24px;
    color: #353535;
}
.featured_article #credits {
    font-size: 14px;
    margin-left: 24px;
    color: #353535;
}
.other_articles {
    margin-top: 12px;
    margin-left: 24px;
}
.other_articles {
    display: flex;
    flex-direction: column;
    grid-gap: 1px;
}
.other_articles img {
    width: 35%;
    height: auto;
}
.article_one {
    display: flex;
    margin: 5px;
}
.article_two {
    display: flex;
    margin: 5px;
}
.article_three {
    display: flex;
    margin: 5px;
    background-color: #353535;
}
.article_img_desktop {
    margin: 16px;
}
.article_img_mobile {
    display: none;
}
.info {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: center;
}
.info h3 {
    color: #353535;
    margin-top: 8px;
    margin-bottom: 8px;
}
.info p {
    color: #353535;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 85%;
}
.info a {
    text-decoration: none;
    color: #284B63;
}
.article_three h3, p {
    color: #D9D9D9;
}
.article_three p {
    color: #D9D9D9;
}
.learning_section {
    background-color: #D9D9D9;
}
.learning_section_grid {
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 32px;
    padding: 32px 72px;
}
.learning_section h2 {
    margin: 0;
    text-align: center;
    color: #4a4a4a;
    font-size: 40px;
    padding-top: 32px;
}
.lesson {    
    background-color: #3C6E71;
}
.lesson img {
    width: 100%;
    height: auto;
}
.course_info {
    margin-left: 16px;
    margin-top: 16px;
}
.course_info h3, h4, p {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #D9D9D9;

}
.course_info h3 {
    color: #FFFFFF;
}
.course_info p {
    padding-bottom: 12px;
    line-height: 1.5;
    width: 75%;
    color: #D9D9D9;
}
.course_info h4 {
    text-transform: uppercase;
    font-weight: normal;
    color: #D9D9D9;
}
.exhibit_section {
    background-color: #D9D9D9;
}
.exhibit_section h2 {
    margin: 0;
    text-align: center;
    color: #353535;
    font-size: 40px;
    padding-top: 32px;
    padding-bottom: 32px;

}
.exhibit_section_grid {
    display: grid;
    grid-template: 100% / 60% 40%;
    grid-gap: 24px;
}
.exhibit_section_grid  video {
    width: 100%;
    height: auto;
    padding-left: 24px;
  }
.other_staff img {
 width: 35%;
 height: auto;
 margin: 16px;
}
.fisma, .now_and_then {
    display: flex;
    align-items: center;
}
.fisma {
    background-color: #d8d8d8;
}
.info h4 {
    width: 95%;
    font-size: 22px;
    color: #353535;
    margin-top: 8px;
    margin-bottom: 8px;
}
.now_and_then {
    margin-top: 18px;
}
.video > h3   {
    padding-left: 24px;
    color: #353535;
    font-weight: 700;
 } 
 .video-p {
    padding-left: 24px;
    color: #353535;
    font-weight: 500;
 }
 footer {
    border-top: 1px solid  rgb(167,167,167,0.2);
    padding: 32px 12px; 
    background-color: #353535;
 }
 footer span {
     padding-left: 12px;
     color: #D9D9D9;

 }
 .footer_nav  {
    display: inline;
    float: right;
 }
 .footer_nav a {
     text-decoration: none;
     color: #D9D9D9;
     padding: 10px;

 }
 @media only screen and (max-width: 600px) {
     header {
         max-width: 100%;
         margin: 0;
     }
     .nav_section {
        display: block;
        float: none;
     }
     .logo {
         display: none;
     }
     .for_mobile {
         display: flex;
         justify-content: space-between;
         padding: 0 40px;
         margin: 0 auto;
     }

     .for_desktop {
         display: none;
     }
     .banner_section {
        max-width: 100%;
        display: block;
        padding-bottom: 20px;
     }
     .banner_section #banner {
         max-width: 100%;
         margin: auto;
     }
     .right_section #bunner_button {
         margin-top: 12px;
         margin-bottom: 24px;
     }
     .banner_section h2 {
        font-size: 36px;
     }
     .articles_section {
         display: block;
     }
     .featured_article {
         display: none;
     }
     .other_articles {
         display: block;
         width: 100%;
         margin: 0 auto;
     }
     .other_articles img {
         width: 100%;
     }
     .info {
         display: block;
         width: 100%;
     }
     .article_one,
     .article_two,
     .article_three {
         display: block;
         padding: 16px;
        margin: 0;
     }
     .article_three {
         background-color: inherit;
     }
     .article_img_mobile {
         display: block;
     }
     .article_img_desktop {
         display: none;
     }
     .learning_section {
         background-color: #f3f5f5;
     }
     .learning_section_grid img {
         display: none;
     }
     .learning_section_grid p {
        display: none;
     }
     .learning_section_grid h4 {
        display: none;

     }
     .learning_section_grid {
         display: block;
         padding-left: 16px;
         padding-right: 16px;
     }
     .lesson {
         padding-top: 14px;
         padding-bottom: 12px;
         margin: 8px;
     }
     .exhibit_section_grid {
         display: block;
     }
     .video {
         display: block;
         max-width: 100%;
     }
     .video h3 {
        display: none;
     }
     .video-p {
         display: none;
     }
     .other_staff {
         display: none;
     }
     .exhibit_section_grid video {
         padding-left: 0;
     }
     footer span {
         font-size: 16px;
     }
     .footer_nav {
         display: none;
     }
 }