body {
    background-color: black;
    text-align: center;
    margin: 25px;
    font-family: Verdana, sans-serif;

}
header h1 {
    color: white;
    font-size: 50px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
    margin: 15px;
}
 a {
    color: Aquamarine;
    font-size: 16px;
    font-weight: 500;
}
.img h2 {
    color: white;
    font-weight: 300;
    font-size: 42px;
}
.img p {
    color: gray;
    font-size: 21px;
}

.img img {
  margin: 10px;
}
.credits {
    text-align: right;
}